* {
  font-family: Courier;
}


body {
  background-image: url(images/sunblur.jpg);
  background-repeat: repeat;
  background-position: left top;
  opacity: 0.95;
}


nav {
  display: block;
  list-style-type: none;
  width: 100%;
  height: 70px;
  font-size: 1.15em;
  background-color: rgba(64,64,64,0.15);
  z-index: 1;
  margin: 25px -15px 5px -15px;
  padding: 10px 25px 10px 35px;
}


nav>li {
  float: left;
  padding: 10px 25px 0px 25px;
  font-size: 0.8em;
}

footer {
  display: inline-block;
  width: 100%;
  height: 50px;
  text-align: right;
  font-size: 0.75em;
  background-color: rgba(255, 255, 255 ,0.75);
  margin: 25px -25px;
}


.name {
  font-family: 'PennaRegular';
  font-weight: bold;
  font-style: normal;
  font-size: 2.5em;
}


#content {
  width: 50%;
  max-width: 550px;
  min-width: 300px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.25);
  display: inline-block;
  float: left;
  margin: 1%;
  padding: 10px;
  border: 5px solid #ffffff;
  -moz-box-shadow: 2px 2px 2px #444444;
  -webkit-box-shadow: 2px 2px 2px #444444;
  box-shadow: 2px 2px 2px #444444;
  border-radius: 100px 25px 100px 25px;
}


#sidebar {
  width: 35%;
  max-width: 275px;
  min-width: 200px;
  height: 300px;
  background-color: rgba(255, 212, 194, 0.55);
  display: inline-block;
  float: left;
  margin: 1%;
  padding: 10px;
  border: 5px solid #ffffff;
  -moz-box-shadow: 2px 2px 2px #444444;
  -webkit-box-shadow: 2px 2px 2px #444444;
  box-shadow: 2px 2px 2px #444444;
  border-radius: 25px 100px 25px 100px;
}


blockquote {
  font-weight: bold;
  font-size: 1.0em;
  text-align: center;

}


h1 {
  text-align: center;
  width: auto;
}


h4 {
  text-align: center;
  max-width: 950px;
}


p {
  font-size: 0.9em;
  width: auto;
}


ol>li>a {
  font-family: 'PennaRegular';
  font-weight: bold;
  font-style: normal;
  font-size: 1.4em;
}


a {
  text-decoration: none;
  color: #444444;
}


a:hover {
  text-decoration: underline;
  color: rgba(250, 100, 85, 1.0);
}

/* Index Page */
#grid {
  display: inline-block;
  float: left;
}


#blurb {
  width: 100%;
  max-width: 900px;
  min-width: 250px;
  padding: 0px 25px 0px 25px;
}


.tableimage {
  margin: 5px 10px 5px 10px;
  opacity: 0.85;
  border: 5px solid #ffffff;
  -moz-box-shadow: 2px 2px 2px #444444;
  -webkit-box-shadow: 2px 2px 2px #444444;
  box-shadow: 2px 2px 2px #444444;
}


/* Button for Contact Page */
#shared {
  font-family: 'PennaRegular';
  font-weight: bold;
  font-style: normal;
  font-size: 2.0em;
  margin: 25%;
}

/* Forms for Contact Page */
fieldset {
  border: none;
}


legend {
  font-family: 'PennaRegular';
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  padding: 0.2em 0.5em;
}

textarea {
  max-width: inherit;
  min-width: 225px;
}

input {
  background-color: #ffffff;
  padding: 5px 25px;
  color: rgba(250, 100, 85, 1.0);
  font-family: 'PennaRegular';
  font-weight: bold;
  font-style: normal;
  font-size: 1.0em;
  display: block;
  border: none;
  border-radius: 3px;
}


input:hover {
  background-color: rgba(250, 100, 85, 1.0);
  padding: 5px 25px;
  color: #ffffff;
  font-family: 'PennaRegular';
  font-weight: bold;
  font-style: normal;
  font-size: 1.0em;
  display: block;
  border: none;
  border-radius: 3px;
}
